<div class="span9">
  <%= render :partial => 'feeds/feed', :collection => @feed_items %>
</div>
<div class="span9">
  <div class="pagination">
    <ul>
      <% if @has_prev_page %>
        <li class="prev">
          <a rel="prev" href="?page=<%= @page - 1 %>">&larr; Previous</a>
        </li>
      <% else %>
        <li class="prev disabled"><a href="#">&larr; Previous</a></li>
      <% end %>
      <% if @has_next_page %>
        <li class="next">
          <a rel="next" href=".?page=<%= @page + 1 %>">Next &rarr;</a>
        </li>
      <% else %>
        <li class="next disabled"><a href="#">Next &rarr;</a></li>
      <% end %>
    </ul>
  </div>
</div>