<tr class="show-close-button">
  <td class="idea">
    <span class="content"><%= idea.content %> on <%= idea.reminder_date %></span>
    <span class="timestamp">
      Posted <%= time_ago_in_words(idea.created_at) %> ago.
    </span>
  </td>
  <% if current_user?(idea.user) %>
  <td class="idea">
    <div class="hover ui-state-default ui-corner-all icon-button invisible" style="float: right;">
        <%= link_to "delete", idea, :method => :delete,
                                         :confirm => "You sure?",
                                         :title => "Remove post",
                                         :class => "ui-icon ui-icon-close"%>
    </div>
  </td>
  <% end %>
</tr>