<%= will_paginate @own_ideas %>
<table class="items" summary="User ideas" id="own_ideas">
  <%= render :partial => 'ideas/own_idea', :collection => @own_ideas %>
</table>
<%= will_paginate @own_ideas %>