<div class="span9">
  <%= paginate @ideas, :params => @table_params.nil? ? {} : @table_params %>
</div>
<div class="span9">
  <%= render @ideas %>
</div>
<div class="span9">
  <%= paginate @ideas, :params => @table_params.nil? ? {} : @table_params %>
</div>