<p><%= @user.name %>,</p>

<p>Thank you for registering!</p>

<p>For activation follow the following </p>
<p><%= link_to "link", url_for(:controller => 'users', :action => 'activate', :only_path => false, 
              :activation_code => @user.activation_code) %></p>

<p><%= link_to "Edit profile", edit_user_url(@user) %></p>