<%= paginate @reminders, :params => @table_params.nil? ? {} : @table_params %>
<table class="items" id="reminders" summary="Simple reminders">
  <%= render :partial => 'reminders/simple_reminder', :collection => @reminders %>
</table>
<%= paginate @reminders, :params => @table_params.nil? ? {} : @table_params %>