<div class="span9">
  <%= paginate @reminders, :params => @table_params.nil? ? {} : @table_params %>
</div>
<div class="span9">
  <%= render :partial => 'reminders/simple_reminder', :collection => @reminders %>
</div>
<div class="span9">
  <%= paginate @reminders, :params => @table_params.nil? ? {} : @table_params %>
</div>