<tr class="show-close-button">
  <td class="idea">
    <%= simple_reminder.reminder_date %></span>
    <span class="timestamp">
      Posted <%= time_ago_in_words(simple_reminder.created_at) %> ago.
    </span>
    <% unless current_user?(simple_reminder.user) %>
    <span class="idea-toolbar">
      <%= link_to "Remind me too", remind_me_too_path(:idea_id => simple_reminder.idea.id) %> · 
    </span>
    <% end %>
  </td>
  <% if current_user?(simple_reminder.user) %>
  <td class="idea">
    <div class="hover ui-state-default ui-corner-all icon-button invisible" style="float: right;">
        <%= link_to "delete", simple_reminder, :method => :delete,
                                         :confirm => "You sure?",
                                         :title => "Remove simple_reminder",
                                         :class => "ui-icon ui-icon-close" %>
    </div>
  </td>
  <% end %>
</tr>