<%= will_paginate @reminders,  :renderer => PaginationListLinkRenderer, :params => @table_params.nil? ? {} : @table_params %>
<table class="items" id="reminders">
  <%= render @reminders %>
</table>
<%= will_paginate @reminders, :params => @table_params.nil? ? {} : @table_params %>