<%= paginate @reminders, :params => @table_params.nil? ? {} : @table_params %>
<table class="items" id="reminders">
  <%= render @reminders %>
</table>
<%= paginate @reminders, :params => @table_params.nil? ? {} : @table_params %>
