<div class="pagination-container">
  <%= paginate @users, :params => @table_params.nil? ? {} : @table_params %>
</div>
<div class="items-container">
  <%= render @users %>
</div>
<div class="pagination-container">
  <%= paginate @users, :params => @table_params.nil? ? {} : @table_params %>
</div>
