<div class="span9">
  <%= paginate @users, :params => @table_params.nil? ? {} : @table_params %>
</div>
<div class="span9">
  <%= render @users %>
</div>
<div class="span9">
  <%= paginate @users, :params => @table_params.nil? ? {} : @table_params %>
</div>
