<%= paginate @users, :params => @table_params.nil? ? {} : @table_params %>
<table class="items" id="users">
  <%= render @users %>
</table>
<%= paginate @users, :params => @table_params.nil? ? {} : @table_params %>