<%= render 'users/gravatar_head' %>

<% unless @ideas.empty? %>
  <div class="text-container">
    <div class="title-container">
      <h3 class="idea">...has the next ideas...</h3>
    </div>
  </div>
<% end %>

<%= render 'ideas/table' %>

<% content_for :sidebar do %>
  <%= render 'shared/sidebar' %>
<% end %>
