<ul>
  <li><%= link_to "Settings", edit_user_path(current_user) %></li>
  <li><%= link_to "Public profile", user_profile_path(current_user) %></li>
  <li><%= link_to "Change password", change_passwords_path %></li>
</ul>