<div class="sidebar-horizontal">
  <div class="first-column">
    <%= render 'shared/user_info' %>

    <%= render 'shared/stats' %>
  </div>
  <%= render 'shared/profile_info' %>
  <%= render 'shared/quick_links_menu' %>
</div>