<div class="stats">
  <span class="following">
    <a href="<%= following_user_path(@user) %>">
      <span id="following"><%= @user.following.count %> following</span>
    </a>
  </span>
  <span class="followers">
    <a href="<%= followers_user_path(@user) %>">
      <span id="followers"><%= pluralize(@user.followers.count, "follower") %></span>
    </a>
  </span>
</div>
