<div class="tabs-container">
  <ul class="tabs">
    <li class="active"><%= link_to "Home", root_path %></li>
    <li><%= link_to "Profile", current_user %></li>
    <li><%= link_to "My ideas", ideas_user_path(current_user) %></li>
  </ul>
</div>