<% if signed_in? %>
  <table class="front" summary="For signed-in users">
    <tr>
      <td class="main">
        <h1 class="idea">Remind me to</h1>
        <%= render 'shared/idea_form' %>
        <%= render 'shared/feed' %>
      </td>
      <td class="sidebar round">
        <%= render 'shared/sidebar' %>
      </td>
    </tr>
  </table>
  <div id="remind_me_too_dialog" title="Remind me too" ></div>
<% else %>

  <table class="front">
    <tr>
      <td class="halfbox">
        <div class="halfbox-one round">
          <p>Whats the purpose of life? The purpose of life is <b>being happy</b>! To be happy means to like your way of living... But we all know that this is a difficult thing...</p>           
        </div>
      </td>
      <td class="halfbox">
        <div class="halfbox-two round">
          <p>We are all designed to get bored of the things we have very quickly... we want <b>new things</b> every day... we want to <b>change</b> our lifes every day... we want to <b>improve</b> our lifes every day...</p>
        </div>
      </td>
    </tr>
  </table>

  <table class="front">
    <tr>
      <td class="box-one round">
        <p>We all want a <b>better life</b>! But what do we need to make this happen? The answer is simple:</p>
        <p style="text-align: center;"><b>WE NEED AN IDEA!</b></p>
      </td>
    </tr>
  </table>

  <table class="front">
    <tr>
      <td class="halfbox">
        <div class="halfbox-three round">
          <p>How do we get this idea? This is the <b>hard thing</b>! Maybe it passes throught our mind one day... but ideas, and mostly good ideas go as they come... <b>fast</b>...</p>
        </div>
      </td>
      <td class="halfbox">
        <div class="halfbox-four round">
          <p>We don't have to let these <b>great ideas</b> fade away... We need something to keep our ideas safe... and we need something to remind us these <b>great ideas</b> at the most desirable time!</p>
        </div>
      </td>
    </tr>
  </table>

  <table class="front">
    <tr>
      <td class="halfbox">
        <div class="halfbox-five round">
          <p>We also want to share the great ideas that changed out lives with the ones we <b>love</b> and care about, to help them <b>improve their lives</b> too...</p>
        </div>        
      </td>
      <td  class="halfbox">
        <div class="halfbox-six round">
          <p>We also want to find out the ideas that <b>changed someone else's life</b> too, in order to see if it fits us too...</p>
        </div>
      </td>
    </tr>
  </table>

  <table class="front">
    <tr>
      <td class="box-two round">
        <p><b>Happiness</b> is unique for every of us... for one it means money, for other love, for other his work, for other to travel... there is however something common for all of us...</p> 
        <p>We all want to change the world... we all want to know that our live matters...</p>
        <p>Until now, the Internet has given us ways to connect with others... families, friends... this is a good thing,  but in order for the circle to close, we need ways <b>to connect to our inner selves</b>... We need ways <b>to connect to our souls</b>... we need to find out what <b>makes us happy</b>... we need to experiment...</p>
        <p>Introducing <b>remind me to live</b>, a tool that helps you make your life better</p>        
      </td>
    </tr>
  </table>

<!--  <p>Do you have an idea that <b>can change your life</b>, but right now you don't have the time to implement it?</p>
  <p>If you don't store your idea, in time will fade away, will vanish!</p>
  <p>You have to keep track of this kind of ideas and <b>remind</b> them when the time is right!</p>
  <p><b>Remind me to live</b> will make your life better, by recalling all the <b>catchy ideas</b>, on the right time!</p>
  <p>Share your ideas with friends and family, start improving your life right now!</p> -->
  <%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
<% end %>
