  <td class="item"><%= link_to idea_list.name, idea_list %></td>
  <td class="item">
    <%= link_to "delete", idea_list, :method => :delete,
                                     :remote => true,
                                     :confirm => "You sure?",
                                     :title => "Delete #{idea_list.name}" %>
  </td>
  <td class="item"><%= link_to "Edit", edit_idea_list_path(idea_list), :remote => true %></td>