<li>
  <%= link_to idea_list.name, idea_list %>
  | <%= link_to "delete", idea_list, :method => :delete, :confirm => "You sure?",
                                :title => "Delete #{idea_list.name}" %>
  | 
</li>

