<div class="show-close-button row idea-list-row" id="idea-list-<%=idea_list.id%>">
  <div class="row-content">
    <div><%= link_to idea_list.name, idea_list %></div>
  </div>
  <div class="buttons">
    <div class="hover ui-state-default ui-corner-all icon-button invisible" style="float: right;">
      <%= link_to "destroy", idea_list, :method => :delete,
        :remote => true,
        :class => "ui-icon ui-icon-close"%>
    </div>
    <div class="hover ui-state-default ui-corner-all icon-button invisible" style="float: right;">
      <%= link_to "edit", edit_idea_list_path(idea_list), :remote => true,
        :title => "Edit #{idea_list.name}",
        :class => "ui-icon ui-icon-search"%>
    </div>
  </div>
</div>