<%= paginate @idea_lists, :params => { :controller => "idea_lists", :action => "index" } %>
<table class="items" id="idea-list">
  <%= render @idea_lists %>
</table>
<%= paginate @idea_lists, :params => { :controller => "idea_lists", :action => "index" } %>