<div class="pagination-container">
  <%= paginate @idea_lists, :params => @table_params.nil? ? {} : @table_params %>
</div>
<div class="items-container">
  <%= render @idea_lists %>
</div>
<div class="pagination-container">
  <%= paginate @idea_lists, :params => @table_params.nil? ? {} : @table_params %>
</div>