<h1>My idea lists</h1>

<%= link_to "Create new idea list", new_idea_list_path, :remote => true %>
<p/>

<div id="ideas">
  <%= render 'idea_list_table' %>
</div>

<div id="idea_list_dialog" title="Edit idea list" ></div>

<% content_for :sidebar do %>
  <%= render 'shared/sidebar' %>
<% end %>
