/*
*= require blueprint/src/reset
*= require blueprint/src/grid
*= require blueprint/src/typography
*= require redmond/jquery-ui-1-8-11-custom
*= require token-input-facebook
*= require jquery-ui-selectmenu
*= require jquery-bubblepopup-v2-3-1
*= require generic_form
*= require_self
*= require alerts
*----=---xxrequire_tree .
*/

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* General */
.container {
  width: 710px;
}

body {
  background: #cff;
}

header {
  padding-top: 20px;
}

header img {
  padding: 1em;
  background: #fff;
}

section {
  margin-top: 1em;
  padding: 20px;
  background: #fff;
}

section h1 {
  font-size: 200%;
}

footer {
  text-align: center;
  margin-top: 10px;
  width: 710px;
  margin-left: auto;
  margin-right: auto;
}

footer nav {
  float: none;
}

b {
  font-weight: bold;
}

/* Links */
a {
  color: #09c;
  text-decoration: none;
}

a:hover {
  color: #069;
  text-decoration: underline;
}

a:visited {
  color: #069;
}


/* Navigation */
nav {
  float: right;
}

nav {
  background-color: white;
  padding: 0 0.7em;
  white-space: nowrap;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

nav ul li a {
  padding: 0 5px;
  font-weight: bold;
}

nav ul li a:visited {
  color: #09c;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* Round corners */
.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}

/* Main table column */
td.main {
  width: 70%;
  padding: 1em;
}

/* User info column */
td.sidebar {
  width: 30%;
  padding: 1em;
  vertical-align: top;
  background: #ffc;
}

td.sidebar div.sidebar-user-info {
  font-size: 80%;
}

td.sidebar div.sidebar-user-info-item {
  margin-bottom: 5px;
}

td.sidebar div.user_info img {
  padding-right: 0.1em;
}

td.sidebar div.user_info a {
  text-decoration: none;
}

td.sidebar div.user_info span.user_name {
  vertical-align: top;
}

td.sidebar div.user_info div.ideas {
  font-size: 80%;
  width: 100%;
  text-align: center;
}

/* General table with some items */
table.items {
  margin-top: 1em;
}

table.items tr {
  height: 65px;
}

table.items tr td.gravatar {
  border-top: 1px solid #ccc;
  vertical-align: top;
  width: 50px;
}

table.items tr td.item {
  border-top: 1px solid #ccc;
  vertical-align: top;
  padding-top: 10px;
}

table.items tr td.item span.timestamp {
  display: block;
  font-size: 85%;
  color: #666;
}

table.items tr td.item span.item-toolbar {
  font-size: 75%;
}

table.items tr td.item div.icon-button {
  width: 17px;
}

/* fix for captcha */
#recaptcha_instructions_image {
  font-size: 110%;
}

/* horizontal sidebar */
div.sidebar {
  width: 96%;
  padding: 1em;
  vertical-align: top;
  background: #ffc;
}

div.sidebar div.sidebar-user-info {
  font-size: 80%;
}

div.sidebar div.sidebar-user-info-item {
  margin-bottom: 5px;
}

div.sidebar div.user_info img {
  padding-right: 0.1em;
}

div.sidebar div.user_info a {
  text-decoration: none;
}

div.sidebar div.user_info span.user_name {
  vertical-align: top;
}

div.sidebar div.user_info div.ideas {
  font-size: 80%;
  width: 100%;
  text-align: center;
}

