/*
*xxx=require blueprint/src/reset
*xxx=require blueprint/src/grid
*xxx=require blueprint/src/typography
*=require jquery-ui-1-8-11-custom
*=require token-input-facebook
*=require jquery-ui-selectmenu
*xxx=require generic_form
*=require_self
*xxx= require alerts
*= require tipTip.css
*----=---xxrequire_tree .
*/

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* General */


header img {
  background: #F5F5F5;
}

footer {
  text-align: center;
  margin-top: 10px;
  width: 710px;
  margin-left: auto;
  margin-right: auto;
}

footer nav {
  float: none;
}

/* Navigation */
nav {
  float: right;
}

nav {
  background-color: white;
  padding: 0 0.7em;
  white-space: nowrap;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

nav ul li a {
  padding: 0 5px;
  font-weight: bold;
}

nav ul li a:visited {
  color: #09c;
}

nav ul li a:hover {
  text-decoration: underline;
}


/* fix for captcha */
#recaptcha_instructions_image {
  font-size: 110%;
}

 /* Override some defaults */
  html, body {
    background-color: #eee;
  }

  body {
    padding-top: 40px; /* 40px to make the container go all the way to the bottom of the topbar */
  }

  /* The white background content wrapper */
  .content {
    background-color: #E5ECF9;
    
    -webkit-border-radius: 0 0 6px 6px;
       -moz-border-radius: 0 0 6px 6px;
            border-radius: 0 0 6px 6px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
       -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
            box-shadow: 0 1px 2px rgba(0,0,0,.15);
  }

  /* Page header tweaks */
  .page-header {
    background-color: #f5f5f5;
    padding: 20px 20px 20px;
    margin-bottom: 0px;
  }

  .row {
     margin-left: 0px;
  }

  .main-content {
    background-color: #fff;
    width: 580px;
    display: inline;
    float: left;
  }  

  .tabs-container {
    width: 560px;
    padding-left: 10px;
  }

  .pagination-container {
    width: 560px;
    padding-left: 10px;
  }

  [class*="span"] {
    display: inline;
    float: left;
    margin-left: 0px;
  }

  .topbar {
    .btn {
      border: 0;
    }

    .brand {
      color: #1FB3D8;

      &:hover {
        color: #1FB3D8;
      }
    }

    .user-menu {
       padding-top: 6px;
       padding-bottom: 4px;

      .gravatar {
        vertical-align: middle;
      }
 
      .display-name {
        vertical-align: middle;
      }
    }
  }

.sidebar {
  padding-left: 9px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 340px;
  border-left: 1px solid #ddd;
  float: right;

  .profile-info {
    font-size: 80%;
  }

  .user-info {

    margin-bottom: 20px;

    .gravatar {
      vertical-align: middle;
    }
 
    .display-name {
      font-size: 16px;
      vertical-align: middle;
    }

    .ideas-count {
      text-align:center;
    }
  }

  .stats {
    .following {
      text-align:center;
    }
    .followers {
      text-align:center;
    }
  }
}
  
.reminder-row {
  border-bottom: 1px solid #eee;
  padding-top: 3px;
  padding-bottom: 3px;

  .timestamp {
    display: block;
    font-size: 85%;
    color: #666;
  }

  .toolbar {
    font-size: 75%;
  }
}

.idea-row {
  border-bottom: 1px solid #eee;
  padding-top: 3px;
  padding-bottom: 3px;

  .timestamp {
    display: block;
    font-size: 85%;
    color: #666;
  }

  .toolbar {
    font-size: 75%;
  }
}

.user-row {
  border-bottom: 1px solid #eee;
  padding-top: 3px;
  padding-bottom: 3px;

  .timestamp {
    display: block;
    font-size: 85%;
    color: #666;
  }

  .toolbar {
    font-size: 75%;
  }
}

@import "reminders_index.css.scss";
@import "pages_home.css.scss";