
.pages_home {
  /* Sign up button */
  a.signup_button {
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    width: 190px;
    color: #fff;
    background: #006400;
    font-size: 150%;
    font-weight: bold;
    padding: 20px;
    -webkit-transform: rotateZ(-3deg);
    -webkit-transition: -webkit-transform 2s ease-in-out;
  }

  a.signup_button:hover {
   -webkit-transform: rotateZ(3deg);
  }

  /* Home page for guests */
  td.halfbox {
    width: 50%;
    vertical-align: top;
  }

  div.halfbox-one {
    background: #fdf;
    padding: 1em;
    margin-right: 5px;
    height: 100px;
    -webkit-transform: rotateZ(5deg);
    -webkit-transition: -webkit-transform 2s ease-in-out;
  }

  div.halfbox-one:hover {
   -webkit-transform: rotateZ(-5deg);
  }

  div.halfbox-two {
    background: #ffc;
    padding: 1em;
    margin-left: 5px;
    height: 100px;
    -webkit-transform: rotateZ(-2deg);
    -webkit-transition: -webkit-transform 2s ease-in-out;
  }

  div.halfbox-two:hover {
   -webkit-transform: rotateZ(2deg);
  }

  div.halfbox-three {
    background: #ddd;
    padding: 1em;
    margin-right: 5px;
    height: 100px;
    -webkit-transform: rotateZ(-4deg);
    -webkit-transition: -webkit-transform 2s ease-in-out;
  }

  div.halfbox-three:hover {
   -webkit-transform: rotateZ(4deg);
  }

  div.halfbox-four {
    background: #deb;
    padding: 1em;
    margin-left: 5px;
    height: 100px;
    -webkit-transform: rotateZ(-2deg);
    -webkit-transition: -webkit-transform 2s ease-in-out;
  }

  div.halfbox-four:hover {
   -webkit-transform: rotateZ(2deg);
  }

  div.halfbox-five {
    background: #fbe;
    padding: 1em;
    margin-left: 5px;
    height: 100px;
    -webkit-transform: rotateZ(2deg);
    -webkit-transition: -webkit-transform 2s ease-in-out;
  }

  div.halfbox-five:hover {
   -webkit-transform: rotateZ(-2deg);
  }

  div.halfbox-six {
    background: #def;
    padding: 1em;
    margin-left: 5px;
    height: 100px;
    -webkit-transform: rotateZ(-3deg);
    -webkit-transition: -webkit-transform 2s ease-in-out;
  }

  div.halfbox-six:hover {
   -webkit-transform: rotateZ(3deg);
  }

  td.box-one {
    width: 100%;
    padding: 1em;
    vertical-align: top;
    background: #fab;
    -webkit-transform: rotateZ(-2deg);
    -webkit-transition: -webkit-transform 2s ease-in-out;
  }

  td.box-one:hover {
   -webkit-transform: rotateZ(2deg);
  }

  td.box-two {
    width: 100%;
    padding: 1em;
    vertical-align: top;
    background: #bea;
    -webkit-transform: rotateZ(2deg);
    -webkit-transition: -webkit-transform 2s ease-in-out;
  }

  td.box-two:hover {
   -webkit-transform: rotateZ(-2deg);
  }

  
  .feed-row {
    border-bottom: 1px solid #eee;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;

    .avatar {
      float: left;
      margin-right: 10px;
    }

    .row-content {
      width:460px;
      float: left;

      .timestamp {
        font-size: 85%;
        color: #666;
      }

      .toolbar {
        font-size: 85%;
      }
    }

    .buttons {
      width: 20px;
      float: left;
    }
  }
    
}