.sessions_new, .sessions_create {
  .signin-form {
    width: 550px;
    padding-top: 10px;
    margin-left: 200px;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
  }
}