.user-row {
  border-bottom: 1px solid #eee;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;

  .avatar {
    float: left;
    margin-right: 10px;
  }

  .row-content {
    width:460px;
    float: left;
  }

  .buttons {
    width: 20px;
    float: left;
  }
}

.users {


}

.users_new, .users_create {
  .signup-form {
    width: 550px;
    margin-left: 200px;
    padding-top: 10px;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;

    .captcha-container {
      margin-left: 20px;
      margin-right: 20px;
    }
  }

  /* fix for captcha */
  #recaptcha_instructions_image {
    font-size: 110%;
  }
}