.user-row {
  border-bottom: 1px solid #eee;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;

  .avatar {
    float: left;
    margin-right: 10px;
  }

  .row-content {
    width:460px;
    float: left;
  }

  .buttons {
    width: 20px;
    float: left;
  }
}

.users {


}