<footer>
  <nav class="round">
    <ul>
      <li><%= link_to "About",  about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "Help", help_path %></li>
      <li><a href="#">News</a></li>
      <li><a href="http://remindmetolive.heroku.com/">Remind me to live</a></li>
    </ul>
  </nav>
</footer>
